<nav aria-label="breadcrumb">
    <ol class="breadcrumb d-flex justify-content-center">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="/products">Sản phẩm</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{products.name}}</li>
    </ol>
</nav>
<div class="container mt-5">
    <form method="post" action="/products/addCart/{{products.slug}}" class="productsBody">
        <div class="slide_imgProducts">
            <div class="slide_column">
                <a class="oi oi-chevron-top"></a>
                <div class="list_img">
                    {{#each products.imageProducts}}
                    <div class="imgBox {{{checkActive @index}}}">
                        <img src="/img/products/{{this}}" alt="{{@index}}" class="slide_img">
                    </div>
                    {{/each}}
                </div>
                <a class="oi oi-chevron-bottom"></a>
            </div>
            <div class="slide_row">
                {{#each products.imageProducts}}
                <div class="imgBox">
                    <img src="/img/products/{{this}}" name="img" alt="{{@index}}" class="slide_img">
                </div>
                {{/each}}
                <div class="control_slide">
                    <a class="oi oi-chevron-left"></a>
                    <a class="oi oi-chevron-right"></a>
                </div>
            </div>
        </div>
        <div class="info_products">
            <h1 class="nameProdcuts" data-slug="{{products.slug}}">{{products.name}}</h1>
            <span class="stroke"></span>
            <p class="priceProducts">{{products.price}} đ</p>
            <span class="stroke"></span>
            <ul class="list_color">
                <h5 class="listHeading">Màu sắc:</h5>
                {{#each products.color}}
                <li class="colorProducts">{{this}}</li>
                {{/each}}
            </ul>
            <ul class="list_size">
                <h5 class="listHeading">Kích thước:</h5>
                {{#each products.size}}
                <li class="sizeProducts">{{this}}</li>
                {{/each}}
            </ul>
            <button type="submit" class="btn btn-dark addCartProducts">Thêm vào giỏ hàng</button>
            <h4>Mô tả sản phẩm:</h4>
            <p>{{products.description}}</p>
        </div>
    </form>
    <div class="store-policy">
        <ul class="info">
            <h3>THÔNG TIN SẢN PHẨM</h3>
            <li class="ideas">
                - Chất Liệu: Cotton Pha Spandex
            </li>
            <li class="li_text">- Độ Dày: Vừa</li>
            <li class="li_text">- Độ Co Giãn: Ít</li>
            <li class="li_text">- Phong Cách: Casual, Street Style</li>
            <li class="li_text">- Chi Tiết: Phối Túi</li>
        </ul>
        <ul class="endow_vip">
            <h3>ƯU ĐÃI MEMBER VIP</h3>
            <li class="li_text">Vui lòng đăng kí tài khoản mua hàng để được tích điểm làm Member Vip</li>
            <li class="li_text">- Tài khoản Vip 1 được giảm 5% khi tích đủ 5tr</li>
            <li class="li_text">- Tài khoản Vip 2 được giảm 10% khi tích đủ 10tr</li>
            <li class="li_text">- Tài khoản Vip 3 được giảm 15% khi tích đủ 20tr</li>
        </ul>
        <ul class="policy">
            <h3>CHÍNH SÁCH ĐỔI TRẢ HÀNG</h3>
            <li class="li_text">- Được kiểm tra hàng trước khi nhận hàng</li>
            <li class="li_text">- Đổi/ Trả trong vòng 7 ngày kể từ khi nhận hàng</li>
            <li class="li_text">- Miễn phí đổi trả nếu lỗi sai sót từ phía Store</li>
            <li class="li_text">- Vui lòng gửi hàng Đổi/Trả lại tại địa chỉ:...</li>
        </ul>
    </div>
    <div class="banner-footer">
        <div class="box-footer">
            <i class="shipping fast icon"></i>
            <div class="text">
                <h4>MIỄN PHÍ VẬN CHUYỂN TOÀN QUỐC</h4>
                <p>Với Đơn Hàng Trên 500.000đ</p>
            </div>
        </div>
        <div class="box-footer">
            <i class="fax icon"></i>
            <div class="text">
                <h4>HỖ TRỢ (09:00-21:00)</h4>
                <p>0852 407 686</p>
            </div>
        </div>
        <div class="box-footer">
            <i class="shield alternate icon"></i>
            <div class="text">
                <h4>ĐỔI TRẢ DỄ DÀNG</h4>
                <p>Trong Vòng 07 ngày</p>
            </div>
        </div>
    </div>
</div>

<script>
    var transition = 0
    function controlSlide(next, prev, length, element, type, length2, element2, type2) {
        const img_slideRow = [...document.querySelectorAll(`${element} .imgBox`)]
        const img_slideColumn = [...document.querySelectorAll(`${element2} .imgBox`)]
        document.querySelector(next).onclick = () => {
            transition = (transition + 1)
            if (transition >= img_slideRow.length - 1) {
                transition = img_slideRow.length - 1
            }
            transformSlide(img_slideRow, img_slideColumn, type, type2, length, length2)
        }
        document.querySelector(prev).onclick = () => {
            transition = (transition - 1)
            if (transition <= 0) {
                transition = 0
            }
            transformSlide(img_slideRow, img_slideColumn, type, type2, length, length2)
        }

        img_slideColumn.map(img => {
            transformSlide(img_slideRow, img_slideColumn, type, type2, length, length2)
            img.onclick = () => {
                transition = Number(img.children[0].alt)
                transformSlide(img_slideRow, img_slideColumn, type, type2, length, length2)
            }
        })

    }

    function transformSlide(list_imgRow, list_imgColumn, type, type2, length, length2) {
        list_imgRow.map(img => {
            img.style.transform = `translate${type}(-${transition * length}px)`
        })
        list_imgColumn.map(img => {
            list_imgColumn.length <= 3 ? '' : img.style.transform = `translate${type2}(-${transition * length2}px)`
            img.classList.remove('active');
            if (Number(img.children[0].alt) == transition) {
                img.classList.add('active')
            }
        })
    }

    controlSlide('.control_slide .oi-chevron-right', '.control_slide .oi-chevron-left', 635, '.slide_row', 'X', 110, '.slide_column', 'Y')
    controlSlide('.slide_column .oi-chevron-bottom', '.slide_column .oi-chevron-top', 635, '.slide_row', 'X', 110, '.slide_column', 'Y')

    function chooseType(element, name) {
        const listType = [...document.querySelectorAll(element)]
        listType.map((type, index) => {
            index == 0 ? type.classList.add('active') : ''
            type.onclick = () => {
                let active = document.querySelector(`${element}.active`)
                if (active) {
                    active.classList.remove('active')
                    active.removeChild(document.querySelector(`${element} input.hide`))
                }
                type.classList.add('active')
                addvalue(element, name)
            }
        })
        addvalue(element, name)
    }

    function addvalue(element, name, value) {
        const input = document.createElement('input')
        input.classList.add('hide')
        input.setAttribute('name', name)
        input.setAttribute('value', value ? value : document.querySelector(`${element}.active`).innerText)
        document.querySelector(`${element}.active`).appendChild(input)
    }


    chooseType('.colorProducts', 'color')
    chooseType('.sizeProducts', 'size')

    addvalue('.colorProducts', 'slug', document.querySelector('.nameProdcuts').getAttribute('data-slug'))

    document.querySelector('form.productsBody').onsubmit = function (e) {
        const ListCart = document.querySelector('.menu_cart button.btn_cart')
        if (ListCart) {
            e.preventDefault();
            const data = new FormData(document.querySelector('form.productsBody'))
        document.querySelector('.cartBox').classList.add('show')
            fetch(this.action, {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                headers: {
                    'Content-Type': 'application/json'
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                body: JSON.stringify({
                    slug: data.get('slug'),
                    size: data.get('size'),
                    color: data.get('color'),
                })
            })
                .then(res => res.json())
                .then(res => {
                    if (res.name) {
                        const li = document.createElement('li')
                        li.classList.add('cart_item')
                        li.innerHTML = `
                            <a href="/products/${res.slug}" class="cart_item-img">
                                <img src="/img/products/${res.img}" alt="img" class="item_img">
                            </a>
                            <div class="cart_item-info">
                                <a href="/products/${res.slug}" class="item_name">${res.name}</a>
                                <span class="item_type">${res.color} / ${res.size}</span>
                                <span class="item_price"><strong>${res.price.toLocaleString('en-gb')}</strong> đ</span>
                                <p class="item_count"><span>-</span> <strong>${res.count}</strong>
                                    <span>+</span>
                                </p>
                            </div>
                            <div class="d-none">
                                <input type="text" name="slug" value="${res.slug}" class="hide">
                                <input type="text" name="color" value="${res.color}" class="hide">
                                <input type="text" name="size" value="${res.size}" class="hide">
                                <input type="text" name="count" value="${res.count}" class="hide">
                            </div>
                            <a onclick="removeCart('${res._id}')" style="color:black" class="oi oi-trash mr-3"></a>`
                        document.querySelector('form.cartBox .cart_list').appendChild(li)
                    }
                    else{
                        if(res.err){
                            return alert(res.err)
                        }
                        const listCart = [...document.querySelectorAll('.cart_item')]
                        listCart.map(cart => {
                            const slug = cart.querySelector('input[name="slug"]').value
                            const price = Number(cart.querySelector('.item_price strong').innerText.split(',').join('')) / Number(cart.querySelector('.item_count strong').innerText)
                            const color = cart.querySelector('input[name="color"]').value
                            const size = cart.querySelector('input[name="size"]').value
                            if(slug === res.slug && color === res.color && size === res.size){
                                cart.querySelector('.item_count strong').innerText = res.count
                                cart.querySelector('.item_price strong').innerText = (price * Number(res.count)).toLocaleString('en-gb')
                            }
                        })
                    }
                })
                .catch(() => alert('loi'))
        }
    }

</script>