<div class="hotline">
    <div class="container">
        <a href="" class="hotline_link">Email: <span class="hotline_email">thanhls1235ls12@gmail.com</span></a>
        <a href="" class="hotline_link">Hotline: <span class="hotline_phone">0852407686</span></a>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light navbar_header">
    <div class="container">
        <a class="navbar-brand" href="/">Thanh Đặng</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto control_heading">
                <li class="nav-item active">
                    <a class="nav-link" href="">Trang chủ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products?sale=sale">Sale</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sản phẩm
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/products">Tất cả sản phẩm</a>
                        <a class="dropdown-item" href="/products?sort=top">Áo<span
                                class="oi oi-chevron-right"></span></a>
                        <a class="dropdown-item" href="/products?sort=bottom">Quần<span
                                class="oi oi-chevron-right"></span></a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/introduce">Giới thiệu</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 d-flex mr-2">
                <button class="btn my-2 my-sm-0 btn_submitSearch" type="submit"><a
                        class="oi oi-magnifying-glass"></a></button>
                <input class="form-control mr-sm-2 input_search" type="search" placeholder="Search" aria-label="Search">
            </form>
            {{#if user}}
            <div class="menu_cart">
                <button class="btn my-2 my-sm-0 btn_cart"><a class="oi oi-cart"></a></button>
                <form method="post" action="/products/cart" class="cartBox">
                    <h3>Giỏ hàng</h3>
                    <ul class="cart_list">
                        {{#each itemsCart}}
                        <li class="cart_item">
                            <a href="/products/{{this.slug}}" class="cart_item-img">
                                <img src="/img/products/{{this.img}}" alt="img" class="item_img">
                            </a>
                            <div class="cart_item-info">
                                <a href="/products/{{this.slug}}" class="item_name">{{this.name}}</a>
                                <span class="item_type">{{this.color}} / {{this.size}}</span>
                                <span class="item_price"><strong>{{this.price}}</strong> đ</span>
                                <p class="item_count"><span>-</span> <strong>{{this.count}}</strong>
                                    <span>+</span>
                                </p>
                            </div>
                            <div class="d-none">
                                <input type="text" name="slug" value="{{this.slug}}" class="hide">
                                <input type="text" name="color" value="{{this.color}}" class="hide">
                                <input type="text" name="size" value="{{this.size}}" class="hide">
                                <input type="text" name="count" value="{{this.count}}" class="hide">
                            </div>
                            <a onclick="removeCart('{{this._id}}',this)" style="color:black;cursor:pointer" class="oi oi-trash mr-3"></a>
                        </li>
                        {{else}}
                        <h5>Chưa có sản phẩm nào</h5>
                        {{/each}}
                    </ul>
                    <a href="/me/products/cart-list" class="btn btn-dark">Thanh toán</a>
                </form>
            </div>
            {{/if}}
            <div class="menu_setting-dropdown">
                <button class="btn my-2 my-sm-0 dropdown-toggle" id="menuSettingDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button"></button>
                <div class="dropdown-menu" aria-labelledby="menuSettingDropdown">
                    <a class="dropdown-item" href="/me/account">Tài khoản</a>
                    <a class="dropdown-item" href="/setting">Cài đặt</a>
                    <a class="dropdown-item" href="/help">Hỗ trợ</a>
                    {{#if user.admin}}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/me/user?register">Tạo tài khoản admin</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/me/products/create">Thêm sản phẩm</a>
                    <a class="dropdown-item" href="/me/products/list-products">Danh sách sản phẩm</a>
                    {{/if}}
                    {{#if user}}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/me/user/logout">Đăng xuất</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    const navbarHeader = document.querySelector('.navbar_header')

    document.onscroll = (e) => {
        if (e.target.scrollingElement.scrollTop > 100) {
            navbarHeader.style.position = 'fixed'
            navbarHeader.style.animation = 'fadeIn 0.5s linear'
        }
        else {
            navbarHeader.style.position = 'unset'
            navbarHeader.style.animation = 'unset'
        }
    }
    const ListBTNCart = document.querySelector('.menu_cart button.btn_cart')
    if (ListBTNCart) {
        ListBTNCart.onclick = () => {
            document.querySelector('.cartBox').classList.toggle('show')
        }
    }
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('.cartBox')
        const listCart = [...document.querySelectorAll('.cartBox .cart_item')]
        listCart.map(item => {
            const equal = item.querySelectorAll('p span')
            let count = item.querySelector('p strong')
            let price = item.querySelector('.item_price strong')
            let inputCount = item.querySelector('input[name="count"]')
            let inputSlug = item.querySelector('input[name="slug"]')
            let inputColor = item.querySelector('input[name="color"]')
            let inputSize = item.querySelector('input[name="size"]')
            let Price = Number(price.innerText.split(',').join('')) / Number(count.innerText)
            //Giảm số lượng
            equal[0].onclick = (e) => {
                count.innerText = Number(count.innerText) - 1
                inputCount.setAttribute("value", count.innerText)
                price.innerText = (Price * Number(count.innerText)).toLocaleString('en-gb')
                if (Number(count.innerText) <= 0) {
                    count.innerText = 0
                    item.classList.add('disabled')
                    item.querySelector('a.oi-trash').click()
                    return
                }
                const data = {
                    count: Number(count.innerText),
                    slug: inputSlug.value,
                    color: inputColor.value,
                    size: inputSize.value,
                }
                fetchData(data)
            }

            equal[1].onclick = () => {
                count.innerText = Number(count.innerText) + 1
                inputCount.setAttribute("value", count.innerText)
                if (Number(count.innerText) >= 11) {
                    count.innerText = 10
                    alert('Đã đạt số lượng giới hạn nếu bạn muốn mua nhiều hơn vui lòng liên hệ hotline để được giúp đỡ !')
                    return
                }
                price.innerText = (Price * Number(count.innerText)).toLocaleString('en-gb')
                const data = {
                    count: Number(count.innerText),
                    slug: inputSlug.value,
                    color: inputColor.value,
                    size: inputSize.value,
                }
                fetchData(data)
            }
        })

    })

    function fetchData(data, url) {
        fetch(url ? url : `http://localhost:3000/products/cart`, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
            body: JSON.stringify(data)
        })
            .then(res => res.json())
            .catch(() => alert('loi'))
    }

    function removeCart(id,element) {
        element.parentElement.classList.add('disabled')
        const data = { id }
        fetchData(data, `/products/removeCart?_method=delete&_id=${id}`)
    }



</script>