<div class="banner-sale">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block" src="/img/banners/banner_sale.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block" src="/img/banners/banner_sale1.1.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block" src="/img/banners/banner_sale-winter.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <ul class="container listShortcut_productSort">
        <li class="itemShortcut_productSort"><a href="/products?sort=top" class="itemShortcut--link">
                <img src="/img/products/IMG_0986.JPG" alt="image_itemShortcut" class="itemShortcut--img">
                <span class="itemShortcut--nameSort">Áo sơ mi</span>
            </a>
        </li>
        <li class="itemShortcut_productSort"><a href="/products?sort=top" class="itemShortcut--link">
                <img src="/img/products/bombernyden.png" alt="image_itemShortcut" class="itemShortcut--img">
                <span class="itemShortcut--nameSort">Áo thun</span>
            </a>
        </li>
        <li class="itemShortcut_productSort"><a href="/products?sort=top" class="itemShortcut--link">
                <img src="/img/products/bombernyvangtrang.jpg" alt="image_itemShortcut" class="itemShortcut--img">
                <span class="itemShortcut--nameSort">Áo polo</span>
            </a>
        </li>
        <li class="itemShortcut_productSort"><a href="/products?sort=top" class="itemShortcut--link">
                <img src="/img/products/bothethaobrool.jpg" alt="image_itemShortcut" class="itemShortcut--img">
                <span class="itemShortcut--nameSort">Áo nỉ</span>
            </a>
        </li>
        <li class="itemShortcut_productSort"><a href="/products?sort=top" class="itemShortcut--link">
                <img src="/img/products/botthaonikeden.jpg" alt="image_itemShortcut" class="itemShortcut--img">
                <span class="itemShortcut--nameSort">Áo khoác</span>
            </a>
        </li>
        <li class="itemShortcut_productSort"><a href="/products?sort=top" class="itemShortcut--link">
                <img src="/img/products/botthaoniketrang.jpg" alt="image_itemShortcut" class="itemShortcut--img">
                <span class="itemShortcut--nameSort">Quần jean</span>
            </a>
        </li>
        <li class="itemShortcut_productSort"><a href="/products?sort=top" class="itemShortcut--link">
                <img src="/img/products/depchampion.jpg" alt="image_itemShortcut" class="itemShortcut--img">
                <span class="itemShortcut--nameSort">Quần jogger</span>
            </a>
        </li>
        <li class="itemShortcut_productSort"><a href="/products?sort=top" class="itemShortcut--link">
                <img src="/img/products/shortessential.jpg" alt="image_itemShortcut" class="itemShortcut--img">
                <span class="itemShortcut--nameSort">Quần short</span>
            </a>
        </li>
        <li class="itemShortcut_productSort"><a href="/products?sort=top" class="itemShortcut--link">
                <img src="/img/products/shortessential.jpg" alt="image_itemShortcut" class="itemShortcut--img">
                <span class="itemShortcut--nameSort">Quần short</span>
            </a>
        </li>
        <li class="itemShortcut_productSort"><a href="/products?sort=top" class="itemShortcut--link">
                <img src="/img/products/shortessential.jpg" alt="image_itemShortcut" class="itemShortcut--img">
                <span class="itemShortcut--nameSort">Quần short</span>
            </a>
        </li>
        <li class="itemShortcut_productSort"><a href="/products?sort=top" class="itemShortcut--link">
                <img src="/img/products/shortessential.jpg" alt="image_itemShortcut" class="itemShortcut--img">
                <span class="itemShortcut--nameSort">Quần short</span>
            </a>
        </li>
        <li class="itemShortcut_productSort"><a href="/products?sort=top" class="itemShortcut--link">
                <img src="/img/products/shortessential.jpg" alt="image_itemShortcut" class="itemShortcut--img">
                <span class="itemShortcut--nameSort">Quần short</span>
            </a>
        </li>
    </ul>
    <div class="container newArrival_products">
        <a href="/products" class="banner_newArrival">
            <img src="/img/banners/new-arrival-banner.jpg" alt="banner_newArrival" class="img_newArrival">
        </a>
        <div class="card-group listProducts_newArrival">
            {{#each products}}
            <div class="card">
                <a href="/products/{{this.slug}}">
                    <img class="card-img-top" src="/img/products/{{this.img}}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <a href="/products/{{this.slug}}" class="card-title">{{this.name}}</a>
                    <p class="card-text">{{this.price}}</p>
                </div>
                <div class="card-footer">
                    {{#each imageProducts}}
                    <img src="{{this}}" data-img="{{this}}" alt="" class="card-img-footer">
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
        <a href="/products" class="allProducts_newArrival">Xem tất cả <span class="oi oi-chevron-bottom"></span></a>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const imgFooter = [...document.querySelectorAll('.card-img-footer')]
        imgFooter.map(img => {
            {{!-- img.onmouseenter = (e) => {
                const card = e.target.offsetParent
                card.querySelector('.card-img-top').src = e.target.src
            } --}}
            console.log(window.URL.createObjectURL(img.src))
        })

        const prices = [...document.querySelectorAll('.card-text')]
        prices.map(price=>{
            price.innerText = price.innerText + ' đ'
        })

    
    })

</script>