<div class="container accountManage">
    <ul class="list_manage">
        <h1>Tài khoản</h1>
        <li class="item_list active">Thông tin tài khoản</li>
        <li class="item_list">Địa chỉ</li>
        <li class="item_list">Đơn hàng</li>
        <button class="btn btn-secondary">Đăng xuất</butt>
    </ul>
    <div class="info_account">
        {{#if user}}
        <div class="logged">
            <h1>Thông tin tài khoản</h1>
            <form method="POST" action="/me/user?_method=put">
                <div class="form-group">
                    <label for="accountName">Tên tài khoản</label>
                    <input type="text" class="form-control" name="accountName" value="{{user.accountName}}" disabled>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label for="firstName">Họ và tên</label>
                        <input type="text" name="firstName" class="form-control" placeholder="First name"
                            value="{{user.firstName}}">
                    </div>
                    <div class="col">
                        <label style="opacity: 0;">Họ và tên</label>
                        <input type="text" name="lastName" class="form-control" placeholder="Last name"
                            value="{{user.lastName}}">
                    </div>
                </div>
                <p class="mb-0">Giới tính</p>
                <div class="form-group d-flex" style="gap:10px">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sex" value="Nam" checked>
                        <label class="form-check-label">
                            Nam
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sex" value="Nữ">
                        <label class="form-check-label">
                            Nữ
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthday">Ngày sinh</label>
                    <input type="date" class="form-control" name="birthday" value="{{user.birthday}}"
                        placeholder="dd/mm/yyyy">
                </div>
                <a href="" class="d-block">Đổi mật khẩu</a>
                <button type="submit" class="btn btn-primary">Cập nhật</button>
            </form>
        </div>
        {{else}}
        <div class="unlogged">
            Bạn chưa đăng nhập tài khoản
            <a class="btn btn-primary login" href="/me/user">Đăng nhập</a>
            Tạo tài khoản:
            <a class="btn btn-primary register" href="/me/user?register">Đăng ký</a>
        </div>
        {{/if}}
    </div>
</div>