<div class="container mt-5 mb-5">
    <h1>Danh sách sản phẩm</h1>
    <div class="control d-flex justify-content-between align-items-center">
        <button type="submit" class="btn btn-primary" disabled>Xoá nhiều</button>
        <a href="/me/products/trash">Thùng rác</a>
    </div>
    <table class="table table-striped mt-1">
        <thead style="background-color: #569BDB;color:white">
            <tr>
                <th scope="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    </div>
                </th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Màu sắc</th>
                <th scope="col">Kích cỡ</th>
                <th scope="col">Loại hàng</th>
                <th scope="col">Loại hàng</th>
                <th scope="col" colspan="2">Giá</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <th>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    </div>
                </th>
                <td>{{this.name}}</td>
                <td>{{this.color}}</td>
                <td>{{this.size}}</td>
                <td>{{this.type}}</td>
                <td>{{this.miniType}}</td>
                <td>{{this.price}}đ</td>
                <td style="text-align:center">
                    <button class="btn btn-primary">Cập nhật</button>
                    <button class="btn btn-danger">Xoá</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>